/* sticky = relative + fixed */
.sticky {
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: #ed4242;
    top: 0px;
}

.content {
    height: 2000px;
    background-color: #005500;
}

.header {
    height: 200px;
    background-color: #0c2173;
}